<?xml version="1.0" encoding="utf-8"?>
<!--
Please don't change if you not idea what this is about,
application will stop running if this section return error!

MySQL_Host -> MySQL Server IP Address, <Encrypted>
MySQL_Username -> MySQL Username, <Encrypted>
MySQL_Password -> MySQL Password, <Encrypted>
MySQL_Table -> MySQL Table Name

DebugMode -> Log Debug Mode, True/False
ErrorMode -> Log Error Mode, True/False
WriteLogFile -> Write Log File , True/False
LogFilePath -> Log File Path, Alpha-Numeric without space only

LoginFailLimit -> Login Fail Count Limit, Numeric Only
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FYP_Campaign_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FYP_Campaign_Project.Properties.Settings>
            <setting name="MySQL_Host" serializeAs="String">
                <value>A611YRRQ90zVuVygqMagl/O1kDWRyBdeQyZJEomZlqI=</value>
            </setting>
            <setting name="MySQL_Username" serializeAs="String">
                <value>7/K93P2WuMadeXsIYjWdA4WDdEIxpglppHcvxTCeJ/4=</value>
            </setting>
            <setting name="MySQL_Password" serializeAs="String">
                <value>NSQx+wDxwZJK351IScI/sQ==</value>
            </setting>
            <setting name="MySQL_Table" serializeAs="String">
                <value>uniqueone_c88</value>
            </setting>
        </FYP_Campaign_Project.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
